<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Employee-Mapper">

	<select id="selectEmployeeByEno" parameterType="int" resultType="employee">
		SELECT
		    a.eno
		   ,a.dno
		   ,a.birth
		   ,a.email
		   ,a.name
		   ,a.photo
		   ,a.ppscode
		   ,a.job
		   ,a.phone
		   ,a.call
		   ,a.hiredate
		   ,a.enabled
		   ,a.mbti
		   ,a.address
		   ,a.retiredate
		   ,a.retirereason
		   ,a.pwd
		   ,a.ipaddress
		   ,a.signtype
		   ,a.signpath
		   ,a.condition
		   ,a.year
		   ,b.dname
		   ,c.ppsname
		FROM
		    employee a, department b, postposition c
		where a.dno = b.dno
		and a.ppscode = c.ppscode
		and a.eno = #{eno}
	</select>

	<select id="userAuthorities" parameterType="int" resultType="str">
		SELECT 
			aname 
		FROM 
			authority 
		WHERE 
			eno = #{eno}
	</select>

	<!-- 직위코드를 이용한 직위 select -->
	<select id="selectPpsByPpscode" parameterType="str" resultType="postposition">
		SELECT
			ppsCode, ppSname, ppsPay
		FROM
			postposition
		WHERE
			ppsCode = #{ppsCode}
	</select>
</mapper>

